<div class="container">
    <p style="text-align:center;">
        <a href="https://tanyixiong.com/assets/tanyixiong.jpg">
            <img class="img-circle" src="https://tanyixiong.com/assets/tanyixiong-small.jpg">
        </a>
    </p>
    <h4 class="about-subhead">课程证书 Udemy Certificates</h4>
    <hr class="certificates-bottom-router" />
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            <p class="course-title">Algorithms and Data Structures in Java</p>
            <a href="https://tanyixiong.com/assets/course-certificates/Algorithms-and-Data Structures-in-Java-Part-I.jpg">
                <img class="pure-img" src="https://tanyixiong.com/assets/course-certificates/Algorithms-and-Data Structures-in-Java-Part-I-small.jpg">
            </a>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <p class="course-title">Java Advanced Algorithm</p>
            <a href="https://tanyixiong.com/assets/course-certificates/Java-Advanced-Algorithm.jpg">
                <img class="pure-img" src="https://tanyixiong.com/assets/course-certificates/Java-Advanced-Algorithm-small.jpg">
            </a>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <p class="course-title">Multithreading and Parallel-Computing in Java</p>
            <a href="https://tanyixiong.com/assets/course-certificates/Multithreading-and-Parallel-Computing-in-Java.jpg">
                <img class="pure-img" src="https://tanyixiong.com/assets/course-certificates/Multithreading-and-Parallel-Computing-in-Java-small.jpg">
            </a>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <p class="course-title">Java Memory Management</p>
            <a href="https://tanyixiong.com/assets/course-certificates/Java-Memory-Management.jpg">
                <img class="pure-img" src="https://tanyixiong.com/assets/course-certificates/Java-Memory-Management-small.jpg">
            </a>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <p class="course-title">Microservices with Spring Cloud</p>
            <a href="https://tanyixiong.com/assets/course-certificates/Microservices-with-Spring-Cloud.jpg">
                <img class="pure-img" src="https://tanyixiong.com/assets/course-certificates/Microservices-with-Spring-Cloud-small.jpg">
            </a>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <p class="course-title">Learn Linux in 5 Days and Level Up Your Career</p>
            <a href="https://tanyixiong.com/assets/course-certificates/Learn-Linux-in-5-Days-and-Level-Up-Your-Career.jpg">
                <img class="pure-img" src="https://tanyixiong.com/assets/course-certificates/Learn-Linux-in-5-Days-and-Level-Up-Your-Career-small.jpg">
            </a>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <p class="course-title">Fundamental Financial Math</p>
            <a href="https://tanyixiong.com/assets/course-certificates/Fundamental-Financial-Math.jpg">
                <img class="pure-img" src="https://tanyixiong.com/assets/course-certificates/Fundamental-Financial-Math-small.jpg">
            </a>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <p class="course-title">Statistics for Data Science and Business Analysis</p>
            <a href="https://tanyixiong.com/assets/course-certificates/Statistics-for-Data-Science-and-Business-Analysis.jpg">
                <img class="pure-img" src="https://tanyixiong.com/assets/course-certificates/Statistics-for-Data-Science-and-Business-Analysis-small.jpg">
            </a>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <p class="course-title">The Secrets of Body Language</p>
            <a href="https://tanyixiong.com/assets/course-certificates/The-Secrets-of-Body-Language.jpg">
                <img class="pure-img" src="https://tanyixiong.com/assets/course-certificates/The-Secrets-of-Body-Language-small.jpg">
            </a>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <p class="course-title">Blockchain and Bitcoin Fundamentals</p>
            <a href="https://tanyixiong.com/assets/course-certificates/Blockchain-and-Bitcoin-Fundamentals.jpg">
                <img class="pure-img" src="https://tanyixiong.com/assets/course-certificates/Blockchain-and-Bitcoin-Fundamentals-small.jpg">
            </a>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <p class="course-title">Blockchain A-Z: Learn How To Build Your First Blockchain</p>
            <a href="https://tanyixiong.com/assets/course-certificates/Blockchain-A-Z-Learn-How-To-Build-Your-First-Blockchain.jpg">
                <img class="pure-img" src="https://tanyixiong.com/assets/course-certificates/Blockchain-A-Z-Learn-How-To-Build-Your-First-Blockchain-small.jpg">
            </a>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <p class="course-title">Python for Financial Analysis and Algorithmic Trading</p>
            <a href="https://tanyixiong.com/assets/course-certificates/Python-for-Financial-Analysis-and-Algorithmic-Trading.jpg">
                <img class="pure-img" src="https://tanyixiong.com/assets/course-certificates/Python-for-Financial-Analysis-and-Algorithmic-Trading-small.jpg">
            </a>
        </div>
    </div>

    <h4 class="about-subhead">个人经历 Personal Experince</h4>
    <hr class="experince-bottom-router" />

    <div class="timeline-item" date-is='2017年9月 - 至今'>
        <h3>复旦大学</h3>
        <p>就读于复旦大学软件学院，软件工程专业</p>
        <ul>
            <li>专业方向为金融信息化。旨在培养同时拥有扎实业务知识和技术背景的复合型人才。</li>
            <li>在职非脱产。最大化利用时间和工作机会，将理论知识和实践相结合。</li>
        </ul>
    </div>
    <div class="timeline-item" date-is='2017年6月 - 2017年7月'>
        <h3>赴美工作交流</h3>
        <p>赴花旗集团技术部门美国总部工作交流。</p>
        <ul>
            <li>参与合规及交易工作流相关的关键模块的设计与开发。</li>
            <li>帮助美国、加拿大及上海的团队成员进行沟通协调。</li>
        </ul>
    </div>
    <div class="timeline-item" date-is='2016年12月'>
        <h3>通过全国硕士研究生统一招生考试</h3>
        <p>考取复旦大学软件学院工程硕士。</p>
        <ul>
            <li>成为国家工程硕士改革后，第一批非全日制双证工程硕士研究生。</li>
        </ul>
    </div>
    <div class="timeline-item" date-is='2015年5月 - 2015年6月'>
        <h3>赴美工作交流</h3>
        <p>赴花旗集团技术部门美国总部工作交流。</p>
        <ul>
            <li>参与开发信用部门前台（FO）交易询价系统。</li>
            <li>第一次前往位于纽约的花旗总部及交易大厅（trading floor）参观学习。</li>
        </ul>
    </div>
    <div class="timeline-item" date-is='2014年4月 - 2014年5月'>
        <h3>赴美工作交流</h3>
        <p>赴花旗集团技术部门美国总部工作交流。</p>
        <ul>
            <li>成为花旗金融赴美工作最年轻的工程师之一。</li>
            <li>磨练了英文口语能力，对整个花旗技术部门架构有了初步认识。</li>
        </ul>
    </div>
    <div class="timeline-item" date-is='2013年11月'>
        <h3>通过软考</h3>
        <p>通过中华人民共和国计算机技术与软件专业技术资格（水平）考试</p>
        <ul>
            <li>获得软件设计师资格。</li>
            <li>巩固了软件开发方法论，深化了对软件开发过程的系统性认识。</li>
        </ul>
    </div>
    <div class="timeline-item" date-is='2013年7月 - 至今'>
        <h3>花旗集团</h3>
        <p>供职于花旗金融信息服务（中国）有限公司</p>
        <ul>
            <li>作为实习生加入花旗。</li>
            <li>服务于投资银行企业客户部门，负责IT系统开发。</li>
            <li>掌握了扎实的软件开发技术、沟通技巧和项目管理经验。英语流利。</li>
            <li>4年.net平台开发经验，从零基础成长为高级软件工程师。</li>
            <li>之后转入Java开发，以打通前后台系统知识和开发能力。</li>
        </ul>
    </div>
    <div class="timeline-item" date-is='2012年7月 - 2012年8月'>
        <h3>浙江大学</h3>
        <p>参加浙江大学计算机学院数据库实验室暑期实习</p>
        <ul>
            <li>通过申请与面试加入浙大暑期实习计划。</li>
            <li>协助开发数字图像识别分析系统。负责图片数据的采集和整理。</li>
            <li>获得优秀实习生奖励。</li>
        </ul>
    </div>
    <div class="timeline-item" date-is='2009年9月 - 2013年6月'>
        <h3>武汉大学</h3>
        <p>就读于武汉大学国际软件学院，空间信息与数字技术专业</p>
        <ul>
            <li>遥感、测绘与软件工程的交叉学科。主要研究空间信息的收集、整理和分析。</li>
            <li>应用领域：LBS（基于位置的信息服务）、输电线路管理与监测、草场林地分析与监测，等。</li>
        </ul>
    </div>
</div>