<div class="pure-g">
  <div class="header pure-u-1">
    <h1 class="brand-title">谭一雄的博客</h1>
    <div class="pure-menu pure-menu-horizontal" align=center>
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/posts" class="pure-menu-link">文章 Blogs</a></li>
        <li class="pure-menu-item"><a href="/about" class="pure-menu-link">关于 About</a></li>
      </ul>
    </div>
  </div>
  <div class="content pure-u-1">
    <router-outlet></router-outlet>
  </div>
  <div class="footer pure-u-1" align=center>
    <div class="pure-menu pure-menu-horizontal">
      <ul>
        <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
        <li class="pure-menu-item"><a href="https://www.linkedin.com/in/yixiong-tan-b8a47476" class="pure-menu-link">LinkedIn</a></li>
        <li class="pure-menu-item"><a href="https://github.com/funnybearcanfly" class="pure-menu-link">GitHub</a></li>
      </ul>
    </div>
  </div>
</div>