<div id="layout" class="pure-g">
  <div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="header">
      <img width="64" height="64" src="assets/img/bearAvatar.png">
      <h1 class="brand-title">FunnyBear's Blog</h1>
      <h2 class="brand-tagline">Study and Grow</h2>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="pure-button" [class.selected]="selectedLink === '/posts'" routerLink="/posts" routerLinkActive="active">Posts</a>
          </li>
          <li class="nav-item">
            <a class="pure-button" routerLink="/about" routerLinkActive="active">About</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="content pure-u-1 pure-u-md-3-4">
    <router-outlet></router-outlet>
  </div>
</div>