<div class="blog-masthead">
  <div class="container">
    <nav class="nav">
      <a class="nav-link active" routerLink="/posts" routerLinkActive="active">Home</a>
      <a class="nav-link" href="#">New features</a>
      <a class="nav-link" href="#">Press</a>
      <a class="nav-link" href="#">New hires</a>
      <a class="nav-link" href="#">About</a>
    </nav>
  </div>
</div>

<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">谭一雄的博客</h1>
    <p class="lead blog-description">Funny Bear Blog</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 blog-main">
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm-3 offset-sm-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean
          lacinia bibendum nulla sed consectetur.</p>
      </div>
      <div class="sidebar-module">
        <archives></archives>
      </div>
      <div class="sidebar-module">
        <elsewhere></elsewhere>
      </div>
    </div>
  </div>
</div>

<footer class="blog-footer">
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>