<div class="posts-content">
  <p style="text-align:center;">
    <a href="https://tanyixiong.com/assets/tanyixiong.jpg">
            <img class="img-circle" src="https://tanyixiong.com/assets/tanyixiong.jpg">
        </a>
  </p>
  <h4 class="content-subhead">文章列表 Posts</h4>
  <hr class="subhead-bottom-router" />
  <section class="post" *ngFor="let post of posts">
    <header class="post-header">
      <a class="post-title" routerLink="/post/{{post.id}}">{{post.title}}</a>
      <p class="post-meta">
        {{post.lastModifiedTime | date:'MM/dd/yyyy, hh:mm a'}} By <a class="post-author" href="#">{{post.authurName}}</a>        under
        <a class="post-category">{{post.tag}}</a>
      </p>
    </header>
    <div>
      <p class="post-description">
        {{post.description}}
      </p> <a class="read-more" routerLink="/post/{{post.id}}">查看详情</a>
    </div>
  </section>
</div>