<ngx-loading [show]="loading"></ngx-loading>
<div class="container" *ngIf="post">
    <header class="post-header">
        <p class="post-title">{{post.title}}</p>
        <p class="post-meta">
            {{post.lastModifiedTime | date:'MM/dd/yyyy, hh:mm a'}} By <a class="post-author" href="#">{{post.authurName}}</a> under <a class="post-category">{{post.tag}}</a>
        </p>
    </header>
    <hr class="post-header-router"/>
    <div class="post-content" innerHTML="{{post.content}}"></div>
</div>