.content-subhead {
    margin-bottom: 0.5em;
}

.post {
    margin-top: 2em;
}

.posts-content {
    margin-left: 20%;
    margin-right: 20%
}

h4 {
    color: #A3B5BF
}

.post-title {
    color: rgba(0, 0, 0, 0.7);
    font-size: 150%;
    text-decoration: none
}

.post-title:hover {
    text-decoration: underline
}

.post-meta {
    font-style: italic;
    font-size: 80%
}

.post-description {
    color: rgba(0, 0, 0, 0.7);
    text-indent: 33px;
}

.read-more {
    font-size: 80%;
}

@media screen and (max-width: 768px) {
    .posts-content {
        margin-left: 10%;
        margin-right: 10%
    }
}