.post {
    margin-top: 2em;
}

.img-circle {
    border-radius: 50%;
    height: 10em;
    width: 10em;
}

.post-title {
    color: #18374E;
    font-size: 130%;
    text-decoration: none
}

.post-title:hover {
    text-decoration: underline
}

.post-meta {
    color: gray;
    font-style: italic;
    font-size: 80%;
}

.post-description {
    color: rgba(0, 0, 0, 0.7);
    text-indent: 33px;
}

.read-more {
    font-size: 80%;
}