.post-detail {
    margin-left: 20%;
    margin-right: 20%
}

.post-title {
    color: #18374E;
    font-size: 130%;
}

.post-meta {
    color: gray;
    font-style: italic;
    font-size: 65%
}

.post-content {
    font-size: 85%;
}

@media screen and (max-width: 768px) {
    .post-detail {
        margin-left: 10%;
        margin-right: 10%
    }
}