.post-detail {
    max-width: 768px;
    margin:0 auto;
}

.post-header {
    text-align: center;
    margin-top: 2em;
}

.post-title {
    color: #18374E;
    font-size: 130%;
}

.post-meta {
    color: gray;
    font-style: italic;
    font-size: 80%
}

@media screen and (max-width: 768px) {
    .post-detail {
        margin-left: 10%;
        margin-right: 10%
    }
 }